@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Danfo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

.swiper-pagination-bullet {
  padding: 6px;
  position: relative;
  top: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #fc8a06 !important;
}

.products_container button {
  text-transform: capitalize;
  width: fit-content;
}

.active {
  @apply bg-[#FC8A06] rounded-[200px] px-[30px] py-[6px] font-bold capitalize text-white;
}

.btn_orange {
  @apply bg-[#FC8A06] rounded-[200px] px-[36px] py-[6px] font-bold capitalize text-white;
}
.btn_neutral {
  @apply font-bold capitalize sm:text-lg;
}
.btn_black {
  @apply font-bold bg-black text-white px-5 rounded-[200px] sm:px-[36px] py-[6px] font-bold capitalize;
}

.socials button {
  @apply text-white rounded-[30px] p-2 bg-black border-[2px] border-[#FC8A06];
}
